@charset "UTF-8";

* {
	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
	line-height:1.5;	/*全要素の行の高さを1.5倍にする*/
	color:#333333;		/*文字色*/
	text-decoration:none; 			/*リンクの下線を無くす*/
}

div #header {
	height:60px;
	padding:10px;
}

body {
	background-color:white;	/*ページ全体の背景色*/
	text-align:center;		/*IE6以下でセンタリングするための対策*/
}

img {
	background-color: red;
}

div#footer {
	padding: 10px;
}

button {
	float:none;
	height:40px;
	width: 160px;
	font-weight:bold;
	display: inline;
	justify-content: center;
	padding-top:30px;
	padding-bottom: 40px;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
	color: #3B3B3B;
	font-size: 20px;
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
    cursor: pointer; /* マウスカーソルを乗せると指になる */
}

botton:hover {
   text-decoration: underline;
 }